page-user {
    .cover{
        background: #21233c;
        background-image:url('../assets/background.png') ;
        background-size:     cover;                      /* <------ */
        background-repeat:   no-repeat;
        background-position: center center;
        height: 40%;
        width: 100%;
        .img{
            height: 121px;
            padding-left: 10em;
            margin-top: 4em;
        }
    }
    .user{
        height: 60%;
        overflow: scroll;
        p{
            text-transform: capitalize;
            font-size: 20px;
            margin: 0;
            padding: 1em;
            border-bottom: 1px solid #f5f5f5;
            color: #4d606f;
            font-weight: 300;
        }
    }
    .button{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 94%;
        margin: 0;
        height: 7%;
        margin-left: 3%;
        margin-right: 3%;
        border-radius: 0;
        text-transform: capitalize;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15pt;
        border-top-left-radius: 5pt;
        border-top-right-radius: 5pt;
        text-align: center;
        background: #f54756;
        
        
    }
}
